{% extends 'tracker/base.html' %}
{% block content %}
    {% load static %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
            {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
    {% include 'tracker/graph_navs.html' %}

    <div class="btn-group-vertical">
    <a class="btn btn-primary" href="{% url 'add_sugar_level' %}">Add Sugar Level</a>
    <a class="btn btn-primary" href="{% url 'add_meal' %}">Add Meal</a>
    <a class="btn btn-secondary" href="{% url 'add_common_meal' %}">Add Common Meal</a>
    </div>

{% endblock content %}