{% extends "tracker/base.html" %}
{% block head-extra %}
    <link rel="stylesheet" href="/static/css/login_custom.css">
{% endblock head-extra %}
{% block content %}
    <div id="fullscreen_bg" class="fullscreen_bg"/>
    <div class="row text-white">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h1 class="display-3">Welcome to Notesy</h1>
            <div class="info-form">
                <form action="" class="form justify-content-center" action="?next={{ redirect_to }}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="form-username">Andrew Username</label>
                        <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-password">Password</label>
                        <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in!</button>
                </form>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
{% endblock %}